<div class="container-fluid g-0">
    <main>
       <div class="display-area p-3" >
          <!-- Main Content    -->
          <div class="training-request-form">
             <form>
                <div class="form-header">
                   <h5 class="heading-color">Nomination List</h5>
                </div>
                <div>
                  <div class="row">
                     <div class="col">
                        <button matBadge="{{totalCount}}" (click)="clickAll()" class="btn btn-primary btn-block btn-m" matBadgeColor="warn" class="tablinks" style="background-color: #005ba3; color: white;margin-right: 5px;border-radius: 10px;">All</button>
                        <button matBadge="{{activeDataCount}}" (click)="clickActive()" class="btn btn-primary btn-block btn-m" matBadgeColor="warn" class="tablinks" style="background-color: #005ba3; color: white;margin-right: 5px;border-radius: 10px;">Active</button>
                        <button matBadge="{{resignDataCount}}" (click)="clickResign()" class="btn btn-primary btn-block btn-m" matBadgeColor="warn" class="tablinks" style="background-color: #005ba3; color: white;margin-right: 5px;border-radius: 10px;">Resign</button>
                        <button matBadge="{{deployDataCount}}" (click)="clickDeploy()" class="btn btn-primary btn-block btn-m" matBadgeColor="warn" class="tablinks" style="background-color: #005ba3; color: white;margin-right: 5px;border-radius: 10px;">Deploy</button>
                     </div>
                    
                  </div>
                   
                   <table>
                      <thead>
                         <tr>
                            <th>
                               Emp-ID
                            </th>
                            <th>
                               Name
                            </th>
                            <th>
                               Email-ID
                            </th>
                            <th>
                               Grade
                            </th>
                            <th>skill</th>
                            <th>current_allocation</th>
                            <th>project</th>
                            <th>current_location</th>
                            <th>Employment Status</th>
                            <th>Action</th>
                         </tr>
                      </thead>
                      <tbody>
                         <tr *ngFor="let nomi of nomination" [ngStyle]="{'background-color': nomi.employment_status!=='Active' ? '#FFADB0' : 'inherit' }">
                            <td>{{nomi.emp_id}}</td>
                            <td>{{nomi.emp_name}}</td>
                            <td>{{nomi.emp_mail_id}}</td>
                            <td>{{nomi.grade}}</td>
                            <td>{{nomi.skill}}</td>
                            <td>{{nomi.current_allocation}}</td>
                            <td>{{nomi.project}}</td>
                            <td>{{nomi.current_location}}</td>
                            <td>{{nomi.employment_status}}</td>
                            <td>
                              <span class="inner"><i class=" btn-danger btn-sm fa fa-trash" title="Delete" (click)="deleteNominationById(nomi.id)"></i></span>
                              <span class="inner" style="padding-left: 10px;"><i class=" btn-info btn-sm fa fa-edit" title="Delete" (click)="editEmploymentStatus(nomi)"></i></span>
                           </td>
                         </tr>
                      </tbody>
                   </table>
                </div>
             </form>
          </div>
       </div>
    </main>
 </div>